<p>Hello!</p>

<p>
    I'm Josh, a Designer at <a href="https://getstream.io">Stream</a> and I'm glad to see that you’re trying out Winds!
</p>

<p>
    Winds is an open source RSS reader built using React/Redux/Sails and <a href=”https://getstream.io”>Stream (getstream.io)</a>. It showcases personalized feeds (using machine learning similar to Facebook, Flipboard, Etsy, Quora - powered by the getstream.io API).
</p>

<ul>
    <li><a href="https://github.com/GetStream/stream-sails-rss-personalization" target="_blank">Github Repo</a></li>
    <li><a href="https://getstream.io/personalization" target="_blank">Stream Personalization</a></li>
    <li><a href="http://blog.getstream.io/winds-rss-reader-with-personalization" target="_blank">Read our Technical Post</a></li>
</ul>

<p>
    Below is the password we've generated for your account (you can change it if you want).
<p>
    <strong>Your password is</strong> <%- password %>
</p>
<p>
    Thank you for using Winds!
<p>

<p>
Have fun,</br>
Josh @ GetStream.io
</p>
