.vote {

    text-align: center;
    width: 40px;
    position: absolute;
    display: block;
    left: -10px;
    top: -20px;

    margin-right: 22px;

    svg {
        cursor: pointer;
    }

    .upvote {
        position: relative;
        bottom: -8px;
    }

    .downvote {
        position: relative;
        top: -6px;
    }

    .votes {
        font-weight: 300;
        color: #99A9B3;
        font-size: 12px;
        position: relative;
        top: 8px;
    }

}
