{
    "useTabs": false,
    "printWidth": 90,
    "tabWidth": 4,
    "singleQuote": false,
    "trailingComma": "all",
    "jsxBracketSameLine": false,
    "parser": "babylon",
    "semi": false,
    "rcVerbose": true
}
