{
    "useTabs": true,
    "printWidth": 90,
    "tabWidth": 4,
    "singleQuote": true,
    "trailingComma": "all",
    "jsxBracketSameLine": false,
    "parser": "babylon",
    "semi": true,
    "arrowParens": "always"
}
