<html>
    <head>
        <title>You're so popular! You have a new follower!</title>
    </head>
    <body>
        You're so popular! It looks like <%= follower %> is now following you!
        <br /><br />
        Want to know more about your new follower? Head over to Winds and have a look at their profile</a>.
        <br /><br />
        Best,<br />
        The Stream Team
    </body>
</html>
