<html>
    <head>
        <title>Welcome to Winds!</title>
    </head>
    <body>
        Looks like you really blew it, and let your Winds password fly away.
        <br /><br />
        Let’s get you back on track! Your uniquely generated value is:
        <br /><br />
        <b><%= passcode %></b>
        <br /><br />
        Best,<br />
        The Stream Team
    </body>
</html>
