<html>
    <head>
        <title>Forgot Password</title>
    </head>
    <body>
        Looks like you really blew it, and let your Winds password fly away.
        <br /><br />
        Let’s get you back on track! Your randomly generated recovery code is:
        <br /><br />
        <b><%= recoveryCode %></b>
        <br /><br />
        Best,<br />
        The Stream Team
    </body>
</html>
