<html>
    <head>
        <title>Welcome to Winds!</title>
    </head>
    <body>
        Thanks for joining the Winds community! Whether it’s blogs or podcasts, if you’re a lover of hot fresh content we’ve got you covered.
        <br /><br />
        Winds is built by <a href="https://getstream.io" target="_blank">Stream</a>, the world’s first and only Feed-as-a-Service platform. This means that Winds is chalk full of powerful features that will keep you current on everyone you follow and also deliver personalized content that adapts to your unique tastes. Boom.
        <br /><br />
        Follow your favorites (people, podcasts and RSS feeds) and then sit back and let the machine learning work its magic. Soon you’ll be opening up Winds and discovering new content that is right up your alley (courtesy of Stream’s <a href="https://getstream.io/personalization/" target="_blank">personalization</a> engine).
        <br /><br />
        Happy Listening/Reading,<br />
        The Stream Team
        <br /><br />
        <i>PS. For more on Winds functionalities, as well as an overview of the technology that powers the app, check out <a href="https://getstream.io/blog/" target="_blank">The Stream Blog</a> and <a href="https://github.com/GetStream/Winds" target="_blank">GitHub</a>.</i>
        <br /><br />
        <i>PPS. We love feedback! Let us know what you think of the app.</i>
    </body>
</html>
