<html>
    <head>
        <title>Welcome to Winds!</title>
    </head>
    <body>
        Thanks for checking out Winds. Winds is an open-source RSS & Podcast app built on React, Redux and Stream.
        <br /><br />
        Contributions are much appreciated, so check us out on Github. The roadmap discussion for v2.1 is here and you can suggest Podcasts and RSS feeds to feature as well.
        <br /><br />
        Happy Procrastination,<br />
        <a href="https://twitter.com/nickparsons" target="_blank">@nparsons</a>, <a href="https://twitter.com/ken_hoff" target="_blank">@kenhoff</a>, <a href="https://twitter.com/uijudo" target="_blank">@joshtilton</a> and <a href="https://github.com/tschellenbach" target="_blank">@thierry</a>
    </body>
</html>
