<html>
    <head>
        <title>Welcome to Winds!</title>
    </head>
    <body>
        Thanks for checking out Winds. Winds is an open-source RSS & Podcast app built on React, Redux and Stream.
        <br /><br />
        Contributions are much appreciated, so check us out on <a href="https://github.com/GetStream/Winds" target="_blank">GitHub</a>. The roadmap discussion for <a href="https://github.com/GetStream/Winds/issues/191" target="_blank">v2.1 is here</a> and you can suggest Podcasts and RSS feeds to feature as well.
        <br /><br />
        Happy Procrastination,<br />
        <a href="https://twitter.com/nickparsons" target="_blank">@nickparsons</a>, <a href="https://twitter.com/ken_hoff" target="_blank">@kenhoff</a>, <a href="https://twitter.com/uijudo" target="_blank">@joshtilton</a> and <a href="https://twitter.com/tschellenbach" target="_blank">@tschellenbach</a>
    </body>
</html>
