<!DOCTYPE html>
<html>
    <head>
        <title>Winds RSS Reader | Personalized RSS Feeds </title>
        <meta name="description" content="Winds offers personalized news feeds and RSS Reader for free. Enjoy RSS Feeds again."/>
        <meta property='keywords' content='rss feed, rss reader, personalized rss feed, RSS Topics, Personalized Streams, Machine Learning RSS, Machine Learning Feed' />

        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/styles/landing/fonts.css" />
        <link rel="stylesheet" href="/styles/landing/style.css" />

        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
        <!-- Place this tag in your head or just before your close body tag. -->
        <script async defer src="https://buttons.github.io/buttons.js"></script>

    </head>
    <body>
        <div id="wrapper">
            <div class="left-ui"></div>
            <div class="right-ui"></div>
            <div class="container">
                <div class="row hero">
                    <div class="github">
                        <a class="github-button" href="https://github.com/GetStream/stream-sails-rss-personalization" data-icon="octicon-star" data-style="mega" data-count-href="https://github.com/GetStream/stream-sails-rss-personalization" data-count-api="https://github.com/GetStream/stream-sails-rss-personalization#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star ntkme/github-buttons on GitHub">Star</a>
                    </div>
                    <div class="col-lg-7 col-lg-offset-2 col-md-7 col-md-offset-2 col-sm-11 scaler">
                        <div class="logo"></div>
                        <span class="clearfix merriweather">
                            An Open Source
                        </span>
                        <h1 class="arca-bold">
                            Personalized RSS Reader
                        </h1>
                        <p class="arca">
                            <a href="https://facebook.github.io/react/" target="_bank">React</a>,&nbsp;
                            <a href="https://sailsjs.org/" target="_bank">Sails</a>&nbsp;&nbsp;&amp;
                            <a href="https://getstream.io/" target="_bank">Stream</a>
                        </p>
                        <div class="btn-wrap">
                        <a href="/app" title="Winds RSS">
                            <button type="button" class="btn btn-success btn-lg rubrik">Try Winds RSS<img src="/img/landing/arrow.svg"/></button>

                        </a>
                        <a class="rubrik github-link" href="https://github.com/GetStream/stream-sails-rss-personalization" target="_blank">
                            View on Github
                        </a>
                        </div>
                    </div>

                </div>

            </div>
            <div class="containter-fluid">
                <div class="row powered">

                        <div class="col-lg-5 col-lg-offset-1 col-md-6 col-md-offset-1  col-sm-8 col-sm-offset-1 col-xs-11 col-xs-offset-1">
                            <div class="unskew">
                                <img src="/img/landing/circle.svg"/>
                                <h2 class="arca">
                                    Powered by you
                                </h2>

                                <p class="merriweather bigly">
                                    We've built an RSS Feed Reader that goes beyond simply providing a list view of your subscriptions. With deep machine learning, you’ll get a highly personalized feed tailored to you.
                                </p>

                                <p class="merriweather bigly">
                                    The machine learning is powered by Stream's <a href="https://getstream.io/personalization/">personalization API</a>. (<a href="http://blog.getstream.io/winds-rss-reader-with-personalization" target="_blank" title="GetStream.io Personalization Tutorial">tutorial</a>)
                                </p>
                            </div>
                        </div>
                </div>
            </div>

            <div class="container clearfix personalization">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="arca text-center">
                            Personalization Overview
                        </h2>
                    </div>
                </div>
                <div class="row content-bg">
                    <div class="top-left">
                        <div class="position">
                            <p class="merriweather bigly">
                                We speed up the process of Feed Personalization by allowing you to select a few topics to follow.
                                After the initial setup we use the engagement data to learn about your interests.
                            </p>
                        </div>
                    </div>
                    <div class="bottom-right">
                        <ul class="col-lg-6 col-lg-offset-1 col-sm-10 ">
                            <li class="one">
                                <h4 class="arca">Follow</h4>
                                <p class="merriweather">Personalization starts to work once you have selected at least 3 topics to follow</p>
                            </li>
                            <li class="two">
                                <h4 class="arca">Engage</h4>
                                <p class="merriweather">Next, we track what you engage with through clicks and impressions</p>
                            </li>
                            <li class="three">
                                <h4 class="arca">Learn</h4>
                                <p class="merriweather">Based on which content you interact with, the experience will become more tailored to your interests</p>
                            </li>
                        </ul>
                        <a href="/app" title="Winds RSS">
                            <button type="button" class="btn btn-success btn-lg rubrik text-uppercase">Try Winds RSS<img src="/img/landing/arrow.svg"/></button>
                        </a>
                    </div>
                </div>
            </div>

            <div class="pixel clearfix">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3  text-center">
                            <img src="/img/landing/github-footer.svg"/>
                        </div>
                        <div class="col-lg-6 col-md-12 ">
                            <h3 class="arca text-lg-left text-sm-center text-xs-center">Open Source</h3>
                            <p class="bigly merriweather text-lg-left text-sm-center text-xs-center">
                                Winds is open source and powered by Sails, React and Redux.
                                Contributions are much appreciated.
                            </p>
                            <img src="/img/landing/pixel-js.svg" class="img-responsive m-x-auto d-block" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-lg-offset-3 ">
                            <a href="https://github.com/GetStream/stream-sails-rss-personalization" target="_blank">
                                <button type="button" class="btn btn-success btn-lg rubrik">View on GitHub</button>
                            </a>
                        </div>
                        <div class="col-lg-4">
                            <a href="http://blog.getstream.io/winds-rss-reader-with-personalization" target="_blank">
                                <button type="button" class="btn btn-lg btn-outline-success rubrik">Personalization Tutorial</button>
                            </a>
                        </div>
                    </div>

                </div>
            </div>

            <div class="container">
                <div class="row footer">
                    <div class="col-lg-5">
                        <a href="//getstream.io">
                            <img src="/img/landing/stream.svg"/>
                        </a>
                    </div>
                    <div class="col-lg-7 text-right arca">
                        © 2016 Stream.io INC    |    A Techstars NYC Company    |    Proudly Built in Boulder and Amsterdam
                    </div>
                </div>
            </div>

        </div>
    </body>
</html>
