.article-info {
	display: flex;
	flex-direction: row;
	font-weight: bolder;
	letter-spacing: $label-letter-spacing;
	margin-bottom: 1em;
	text-transform: uppercase;

	.bookmark {
		cursor: pointer;
	}

	> * {
		margin-right: 1em;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.muted {
		color: $foreground-darkgray;
	}

	a {
		color: $foreground-green;
		margin-left: 0.5em;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}
