.item-info {
	font-size: .77em;
	display: flex;
	flex-direction: row;
	font-weight: bolder;
	letter-spacing: $label-letter-spacing;
	margin-top: 1.4em;
	margin-bottom: 1.4em;
	text-transform: uppercase;
	color: $foreground-darkgray;

	.bookmark {
		cursor: pointer;
	}

	> * {
		margin-right: 1em;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	i{
		color: $batman;
	}

	.muted {
		color: $foreground-darkgray;
	}

	a {
		color: $foreground-green;
		margin-left: 0.5em;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}
