.item-info {
	color: $foreground-darkgray;
	display: flex;
	flex-direction: row;
	font-size: 0.77em;
	font-weight: bolder;
	letter-spacing: $label-letter-spacing;
	margin-bottom: 1.4em;
	margin-top: 1.4em;
	text-transform: uppercase;

	.bookmark {
		cursor: pointer;
	}

	> * {
		margin-right: 1em;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	i {
		color: $batman;
		font-size: 1.5em;
		font-weight: normal;

		&.fa-bookmark.fas {
			font-weight: 900;
		}
	}

	.muted {
		color: $foreground-darkgray;
	}

	a {
		color: $foreground-green;
		margin-left: 0.5em;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}
