.list-view-header {
	.alignment-box {
		align-items: center;
		display: flex;


		h1 {
			margin: 0;
		}

		.image {
			img {
				border-radius: $border-radius;
				box-shadow: $box-shadow;
				height: 50px;
				width: 50px;
			}
		}

		> * {
			margin-right: 1em;

			&.menu {
				cursor: pointer;
				margin-left: auto;
				margin-right: 0;
			}
		}
	}
}

.list {
	.end-loader,
	.end {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		min-height: 30em;
		text-align: center;

		p {
			max-width: 30em;
		}

		> * {
			margin: 2em;
		}
	}

	.list-item {
		border-bottom: 1px solid $foreground-lightgray;
		color: inherit;
		cursor: pointer;
		display: flex;
		padding: 2em 0;
		text-decoration: inherit;

		&:first-child {
			padding-top: 0;
		}

		.left {
			margin-right: 2em;

			> img,
			> .background-image {
				background-position: center;
				background-size: cover;
				border-radius: $border-radius;
				box-shadow: $box-shadow;
				height: 100px;
				width: 100px;
			}
		}

		.right {
			h2 {
				font-weight: 600; // TODO: asdfasdfasdf @kenhoff
				margin-bottom: 0em;
				margin-top: 0;
				white-space: nowrap;
			  overflow: hidden;
			  display: inline-block;
			  text-overflow: ellipsis;
				width:88%;

			}

			.info {
				align-items: center;
				color: $foreground-darkgray;
				display: flex;
				font-family: $primary;
				font-weight: 600; // TODO: asdfasdfasdf @kenhoff
				letter-spacing: 0.1em;
				margin-bottom: 0.5em;
				text-transform: uppercase;

				.likes {
					img {
						margin-right: 0.5em;
					}
				}

				.date {
					font-size: 11px;
				}

				> * {
					margin-right: 1em;
				}
			}
		}
	}
}
