.featured-items-section {
	background-color: $background-lightishgray;
	grid-area: featured;
	margin-bottom: 1em;
	padding-bottom: 1.5em;

	.featured-items-header {
		margin-left: 2em;
	}

	.featured-item-list {
		display: flex;
		max-width: 100%;
		overflow-x: scroll;

		&::-webkit-scrollbar {
			display: none;
		}

		.featured-item {
			background-color: $background-darkgray;
			background-position: center;
			background-size: cover;
			border-radius: $border-radius;
			box-shadow: $box-shadow;
			color: $foreground-white;
			display: flex;
			flex-direction: column-reverse;
			height: 190px;
			margin-right: 2em;
			padding: 2em;
			text-decoration: inherit;
			width: 200px;

			&:first-child {
				margin-left: 2em;
			}

			h1 {
				margin-bottom: 0;
			}

			label {
				color: $foreground-white;
				margin-bottom: auto;
			}
		}
	}
}
