.social-sharing {

    top: 4px;
    margin-right: 12px;
    position: relative;
    cursor: pointer;

    display: inline;

    .outer-container {

        display: none;

        position: absolute;
        left: -5px;
        right: 0;
        bottom: 15px;
        top: 0;

        z-index: 9999;
        width: 140px;
        height: 220px;

        padding-top: 20px;

        .arrow-up {
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid #FFFFFF;
            margin-left: 5px;
        }

        ul > li {

            background: rgba(255,255,255,0.96);
            height: 60px;
            border-bottom: 1px solid #D8D8D8;

            display: flex;
            align-items: center;

            .icon {
                float: left;
                clear: right;
                width: 50px;
                text-align: center;

                svg {
                    top: 3px;
                }

            }

            .network {
                float: left;
                clear: right;

                font-family: Rubik;
                font-weight: 300;
                font-size: 14px;
                color: #16C98D;
                letter-spacing: 0;
            }

        }

    }

    &:hover {
        .outer-container {
            display: block;
        }
    }

}
