.create-account-view {
	.interests-grid {
		display: grid;
		grid-column-gap: 3em;
		grid-row-gap: 2em;
		grid-template-columns: 1fr 1fr 1fr;

		.hero-card{
			transition-duration: 0.3s;
			transition-property: transform;
			&:hover{
				transform: scale(1.01);
			}
		}




		> * {
			&:hover {
				cursor: pointer;

			}
		}
	}

	.error {
		color: $foreground-red;
	}
}
