.reset-password-wrapper {
	height: auto;
	margin-top: 8%;
	width: 303px;

	.back {
		font-family: $primary;
		font-size: 12px;
		font-weight: 600;
		text-transform: uppercase;

		a:link,
		a:visited,
		a:active,
		a:hover {
			color: $storm-dust;
			text-decoration: none;
		}

		img {
			padding-right: 12px;
		}
	}

	.lock {
		margin: 25px 0 25px 0;
	}

	.cta {
		color: $storm-dust;
		font-family: $primary;
		font-size: 14px;
	}

	.form {
		margin-top: 25px;

		input {
			margin-top: 4px;
		}

		input[type='email'] {
			margin-bottom: 25px;
			width: 288px;
		}

		input[type='text'] {
			margin-bottom: 25px;
			width: 288px;
		}

		input[type='password'] {
			margin-bottom: 25px;
			width: 288px;
		}

		.required {
			color: $dim-gray;
			float: right;
			font-weight: 200;
			text-transform: capitalize;
		}

		button[type='submit'] {
			cursor: pointer;
			height: 35px;
			outline: none;
			width: 288px;

			&:disabled {
				color: rgba(255, 255, 255, 0.5);
			}
		}
	}
}
