.auth-view {
	align-items: center;
	display: flex;
	flex-direction: column;
	text-align: center;
	-webkit-app-region: drag;

	> * {
		margin-bottom: 3rem;
	}

	> button {
		margin-bottom: 1rem;
	}

	a {
		color: $foreground-green;
		text-decoration: none;
	}

	form.auth-form {
		align-items: center;
		background-color: $background-white;
		border-radius: $border-radius;
		box-shadow: $box-shadow;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		padding: 2em;
		width: 30em;

		> * {
			margin-bottom: 2em;

			&:last-child {
				margin-bottom: 0;
			}
		}

		label {
			width: 100%;

			input {
				width: 100%;

				&[type='email'] {
					text-transform: none;
				}
			}
		}
	}
}
