html {
	font-size: 12px;
	padding-bottom: 204em;
}

body {
	background-color: $background-gray;
	font-family: $primary;
}

.app {
	-webkit-app-region: drag;
	padding-top: 8em;
}

.center {
	display: flex;
	justify-content: center;
}
