.popover {
	background-color: $background-white;
	border-radius: $border-radius;
	box-shadow: $box-shadow;

	.list {
		.list-item {
			cursor: pointer;
			padding: 1em;

			&:hover {
				background-color: $background-lightgray;
			}

			&:first-child {
				border-top-left-radius: $border-radius;
				border-top-right-radius: $border-radius;
			}

			&:last-child {
				border-bottom-left-radius: $border-radius;
				border-bottom-right-radius: $border-radius;
			}
		}
	}
}
