body {
  padding: 0;
  font: 14px 'Helvetica', Arial, sans-serif;
  color: #2A3754; }

.merriweather {
  font-family: 'Merriweather', serif; }

.rubrik {
  font-family: 'Rubik', sans-serif; }

.arca {
  font-family: 'arca_majora_3bold', sans-serif; }

.arca-bold {
  font-family: 'arca_majora_3heavy'; }

.bigly {
  font-size: 18px;
  line-height: 35px; }

.btn-lg {
  margin-top: 6.5%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 0;
  background: #16C98D;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.14);
  border: #16C98D 2px solid;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
  transition: .3s; }
  .btn-lg img {
    padding-left: 15px; }

.btn-lg:hover {
  background: #18D998;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.18);
  transition: .3s;
  border: #16C98D 2px solid;
  color: white; }

.btn-outline-success {
  margin-top: 6.5%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 0;
  background: none;
  box-shadow: none;
  border: #16C98D 2px solid;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
  transition: .3s; }

.left-ui {
  position: absolute;
  top: 0;
  left: 0;
  height: 608px;
  width: 387px;
  background: url(/img/landing/hero-left-bg.png) no-repeat;
  background-size: contain;
  display: block; }
  @media (max-width: 1280px) {
    .left-ui {
      transition: .2s;
      height: 430px; } }
  @media (max-width: 768px) {
    .left-ui {
      transition: .2s;
      left: -100px; } }
  @media (max-width: 650px) {
    .left-ui {
      transition: .2s;
      display: none; } }

.right-ui {
  position: absolute;
  top: 0;
  right: 0;
  height: 1315px;
  width: 839px;
  background: url(/img/landing/hero-right-bg.png) top right no-repeat;
  background-size: contain;
  display: block; }
  @media (max-width: 970px) {
    .right-ui {
      transition: .2s;
      right: -150px; } }
  @media (max-width: 750px) {
    .right-ui {
      transition: .2s;
      right: -190px; } }
  @media (max-width: 650px) {
    .right-ui {
      transition: .2s;
      display: none; } }

.github {
  position: absolute;
  height: 120px;
  top: 30px;
  right: 200px;
  width: 70px;
  background: url(/img/landing/github-hero.svg) no-repeat;
  padding-left: 150px;
  padding-top: 30px; }
  @media (max-width: 510px) {
    .github {
      transition: .2s;
      transform: scale(0.8);
      right: 90px;
      top: 0px;
      padding-left: 120px; } }

.hero {
  min-height: 690px;
  display: flex;
  align-items: center; }
  @media (max-width: 414px) {
    .hero{
    display: block;
    width: 375px;
    margin-top: 130px;}
}

  @media (min-width: 1650px) {
    .hero .scaler {
      transform: scale(1.25);
      transition: .2s; } }



  .hero .merriweather {
    font-style: italic;
    color: #99A9B3;
    font-size: 18px;
    display: block;
    height: 30px; }
    @media (min-width: 1650px) {
      .hero .merriweather {
        font-size: 12px; } }
  .hero .logo {
    background: url(/img/landing/winds-word-logo.svg) no-repeat;
    height: 90px; }
  .hero h1 {
    line-height: 60px;
    font-size: 43px; }
  .hero p.arca {
    color: rgba(42, 55, 84, 0.7);
    font-size: 33px; }
    .hero p a{
        color: rgba(42, 55, 84, 0.7);
        font-size: 33px;
        border-bottom: rgba(22, 201, 141, 0.9) 1px dotted;
    }
    .hero p a:hover{
        text-decoration: none;
        color: rgba(42, 55, 84, 0.9);
    }

    .hero .github-link{
        text-decoration: none;
        color: rgba(22, 201, 141, 0.8);
        text-transform: uppercase;
        font-weight: 500;
        height: 43px;
        display: inline-block;
        transition: .3s;
        width: 210px;
        text-align: center;
        padding-top: 21px;
    }
    .hero .github-link:hover{
        text-decoration: none;
        color: rgba(22, 201, 141, 0.9);

    }
 .hero .btn-wrap{
     display: flex;
     align-items: center;
     margin-top: 60px;
 }

.powered {
  background: #F5F7F8; }
  .powered .bg {
    background-color: #F5F7F8; }
  .powered .unskew {
    /* Rectangle 8: */
    background-color: rgba(245, 247, 248, 0.95);
    padding-bottom: 60px;
    padding-top: 60px;
    padding-right: 60px; }
    @media (max-width: 845px) {
      .powered .unskew {
        margin-left: -20px;
        padding-left: 20px;
        padding-right: 20px; } }
  .powered h2 {
    line-height: 90px; }

    .powered a{
        text-decoration: none;
        color: rgba(22, 201, 141, 0.8);

    }
    .powered a:hover{
        text-decoration: none;
        color: rgba(22, 201, 141, 0.9);

    }

.personalization {
  margin-top: 100px;
  max-height: 1200px;
  display: block; }
  .personalization h2 {
    margin-top: 90px; }
    .personalization h4{
    text-transform: none;
    font-size: 23px;
    color: #2A3754;
    letter-spacing: 0px;
    padding-bottom: 12px;
    }
  .personalization .content-bg {
    background-color: #F5F7F8;
    max-width: 970px;
    margin: 0 auto;
    margin-top: 160px; }
    @media (max-width: 770px) {
      .personalization .content-bg {
        transition: .2s;
        margin-top: 60px; } }
    @media (max-width: 500px) {
      .personalization .content-bg {
        transition: .2s;
        margin-top: 60px; } }
  .personalization .top-left {
    background-image: url(/img/landing/topics-top-bg.png);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 870px 450px;
    position: relative;
    display: block;
    min-height: 450px;
    left: -100px;
    top: -100px; }
    @media (max-width: 990px) {
      .personalization .top-left {
        transition: .2s;
        background-size: 696px 360px; } }
    @media (max-width: 770px) {
      .personalization .top-left {
        transition: .2s;
        background-size: 418px 216px;
        background-image: none; } }
    @media (max-width: 550px) {
      .personalization .top-left {
        transition: .2s;
        background: none; } }
    .personalization .top-left .position {
      position: relative;
      top: 300px;
      left: 400px;
      max-width: 570px; }
      @media (max-width: 990px) {
        .personalization .top-left .position {
          transition: .2s;
          top: 220px;
          left: 260px;
          width: 500px; } }
      @media (max-width: 770px) {
        .personalization .top-left .position {
          transition: .2s;
          top: 130px;
          left: 160px;
          width: 410px; } }
      @media (max-width: 550px) {
        .personalization .top-left .position {
          transition: .2s;
          top: 130px;
          left: 140px;
          width: 80%; } }
  .personalization .bottom-right {
    background-image: url(/img/landing/topics-bottom-bg.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 570px 450px;
    position: relative;
    display: block;
    min-height: 480px;
    right: -100px;
    bottom: -100px; }
    @media (max-width: 990px) {
      .personalization .bottom-right {
        transition: .2s;
        right: -90px;
        bottom: -70px;
        background-size: 456px 360px;
        background-position: 350px 50px;
        min-height: 420px; } }
    @media (max-width: 770px) {
      .personalization .bottom-right {
        transition: .2s;
        background: none;
        right: 0px;
        bottom: -10px;
        min-height: 280px; } }
    @media (max-width: 550px) {
      .personalization .bottom-right {
        transition: .2s;
        background: none;
        min-height: 350px; } }
    .personalization .bottom-right ul {
      list-style: none;
      margin-top: -160px; }
      .personalization .bottom-right ul li {
        padding-left: 100px;
        margin-bottom: 60px; }
    .personalization .bottom-right .one {
      background-image: url(/img/landing/1.svg);
      background-repeat: no-repeat;
      height: 61px; }
    .personalization .bottom-right .two {
      background-image: url(/img/landing/2.svg);
      background-repeat: no-repeat;
      height: 61px; }
    .personalization .bottom-right .three {
      background-image: url(/img/landing/3.svg);
      background-repeat: no-repeat;
      height: 61px; }
    .personalization .bottom-right .btn-lg {
      position: absolute;
      left: -130px;
      bottom: 70px; }
      @media (max-width: 990px) {
        .personalization .bottom-right .btn-lg {
          left: -30px;
          bottom: 70px; } }
      @media (max-width: 770px) {
        .personalization .bottom-right .btn-lg {
          left: 30px;
          bottom: -20px;
          width: 80%; } }
      @media (max-width: 550px) {
        .personalization .bottom-right .btn-lg {
          left: 30px;
          bottom: -90px;
          width: 80%; } }
  .personalization .bg {
    background-color: #F5F7F8;
    background-image: url(/img/landing/topics-top-bg.png);
    background-position: top -130px left -130px;
    background-repeat: no-repeat;
    background-size: 870px; }

.pixel {
  margin-top: 250px;
  background-image: url(/img/landing/pixel-bg.png);
  background-size: cover;
  padding-top: 120px;
  padding-bottom: 120px;
  display: flex;
  align-items: center; }
  @media (max-width: 770px) {
    .pixel {
      transition: .2s;
      margin-top: 100px; } }
  @media (max-width: 500px) {
    .pixel {
      transition: .2s;
      margin-top: 100px; } }
  .pixel img {
    margin-bottom: 30px; }
  .pixel p {
    margin-bottom: 50px; }
  .pixel h3 {
    margin-bottom: 30px; }
  .pixel button {
    width: 100%; }
    .pixel .btn-outline-success{
        color: #16C98D;
        margin-top: 17px;
    }
    .pixel .btn-outline-success:hover{
        color: white
    }

.footer {
  display: flex;
  align-items: center;
  min-height: 120px; }
  .footer .arca {
    opacity: .8; }

/*# sourceMappingURL=style.css.map */
