footer {

    font-family: 'Merriweather';
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    background: rgba(255,255,255,0.90);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);

    font-size: 13px;
    font-weight: 300;
    color: #99A9B3;

    padding-top: 18px;
    padding-bottom: 18px;

    a,
    a:hover,
    a:active {
        color: #2F7DEB;
        text-decoration: none;
    }

    i {
        margin-right: 14px;
        font-size: 22px;
        color: #99A9B3;

        &:hover {
            color: #2F7DEB;
        }

    }

}
