$medium-sea-green: #44bc75;
$shamrock-green: #08a270;
$ocean-green: #4da97f;
$mountain-meadow: #20c691;

$bleu-de-france: #4592ff;
$majorelle-blue: #5c52e5;
$fulvous: #e88100;
$mandy: #e55262;

$snow: #fff;
$snowcap: #eee;
$white-smoke: #f6f6f6;

$dove-gray: #6e6e6e;
$silver-chalice: #acacac;
$silver-sand: #babbbb;
$mystic: #e4e7eb;
$magnesium: #b2b2b2;
$dim-gray: #747474;
$storm-dust: #626262;
$jumbo: #858585;
$ruko-gray: #545454;
$gloomy-george: #f7f7f7;
$batman: #000;
$fever-five: #7d7d7d;

$foreground-white: #fff;
$foreground-lightgray: #eee;
$foreground-mediumgray: #ccc;
$foreground-darkgray: #aaa;
$foreground-reallydarkgray: #747474;
$foreground-black: #000;
$foreground-green: #44bc75;
$foreground-blue: #4592ff;
$foreground-purple: #5c52e5;
$foreground-orange: #e88100;
$foreground-red: #e55262;

$background-green: #44bc75;
$background-darkgreen: #439995;
$background-darkgray: #aaa;
$background-gray: #f7f7f7;
$background-lightishgray: #efefef;
$background-lightgray: #ddd;
$background-white: #fff;
$background-black: #000;
