* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

textarea {
	border: none;
	font-family: $primary;
}

.app {
	height: 100vh;
}

div[tabindex="-1"]:focus {
	outline: 0;
}

