.dashboard {
	display: grid;
	flex-grow: 1;
	grid-column-gap: $gutters;
	grid-template-areas: 'featured featured featured' 'podcast-header rss-header discover-header' 'podcast-content rss-content discover-content';
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto auto 1fr;
	height: 100%;
	max-width: 100%;
	overflow-y: hidden;

	.podcast-header {
		grid-area: podcast-header;
	}

	.rss-header {
		grid-area: rss-header;
	}

	.discover-header {
		grid-area: discover-header;
	}

	.podcasts-section {
		grid-area: podcast-content;
		min-width: 0;
		overflow-y: scroll;
	}

	.rss-section {
		grid-area: rss-content;
		min-width: 0;
		overflow-y: scroll;
	}

	.discover-section {
		grid-area: discover-content;
		min-width: 0;
		overflow-y: scroll;
	}

	.podcast-header,
	.podcasts-section {
		margin-left: ($gutters / 2);
	}

	.discover-header,
	.discover-section {
		margin-right: ($gutters / 2);
	}

	.drilldown {
		color: $foreground-reallydarkgray;
	}
}
