.dashboard {
	display: grid;
	flex-grow: 1;
	grid-column-gap: $gutters / 2;
	grid-template-areas:
		'featured featured featured featured featured'
		'podcast-header border1 rss-header border2 folder-header'
		'podcast-content border1 rss-content border2 folder-content';
	grid-template-columns: 1fr auto 1fr auto 1fr;
	grid-template-rows: auto auto 1fr;
	height: 100%;
	max-width: 100%;
	overflow-y: hidden;
	user-select: none;

	.border1 {
		grid-area: border1;
	}

	.border2 {
		grid-area: border2;
	}

	.border1,
	.border2 {
		background: linear-gradient(to top, #ebebeb, #f7f7f7);
		width: 5px;
	}

	.podcast-header {
		grid-area: podcast-header;
	}

	.rss-header {
		grid-area: rss-header;
	}

	.folder-header {
		grid-area: folder-header;
		padding: 1em;

		&.center {
			cursor: default;
			text-align: center;
		}

		h1 {
			margin: 0;
		}
	}

	.podcasts-section {
		grid-area: podcast-content;
	}

	.rss-section {
		grid-area: rss-content;
	}

	.folder-section {
		grid-area: folder-content;
	}

	.podcasts-section,
	.rss-section,
	.folder-section {
		min-width: 0;
		overflow-y: scroll;
	}

	.podcast-header,
	.podcasts-section {
		margin-left: ($gutters / 2);
	}

	.folder-header,
	.folder-section {
		margin-right: ($gutters / 2);
	}

	.drilldown {
		color: $foreground-reallydarkgray;
	}
}
