.intro-folder {
	.logo {
		display: block;
		margin: 2.7em auto;
	}

	ul {
		margin-left: 1em;
		padding: 0;
	}

	.highlited {
		background: $background-green;
		padding: 3px 1px;
	}

	.panel {
		font-weight: 400;
		line-height: 22px;
		padding: 2em 1em 1em 3em;
		position: relative;

		.btn-new {
			margin: 3em auto 2em;
			width: 130px;
		}

		.note-icon {
			left: 8px;
			position: absolute;
			transform: translateY(2px);
		}
	}
}

.search-feed {
	margin-bottom: 0;
	position: relative;

	.input-box,
	input {
		margin-bottom: 0;
	}

	.results.panel {
		margin-top: 0;

		.type {
			background-color: rgba(0, 0, 0, 0.06);
			border-radius: 2px;
			padding: 3px 5px;
		}
	}

	.select-box {
		align-items: center;
		border: 1px solid $foreground-darkgray;
		border-radius: 6px;
		box-shadow: none;
		display: flex;
		font-size: 13px;
		font-weight: 200;
		justify-content: space-between;
		margin-bottom: 0.5em;
		padding: 6px;
		padding-left: 1em;
		padding-right: 0.5em;

		.fa-sort-down {
			color: $foreground-darkgray;
			font-size: 1.4em;
			margin-top: -5px;
		}

		&:focus,
		&:hover {
			border: 1px solid $medium-sea-green;
			outline: none;
			transition: all 0.4s linear;
		}
	}
}

.folder-feed-list {
	border-radius: 2px;
	box-shadow: none;

	.feed-item {
		cursor: default;

		.btn-remove {
			cursor: pointer;
		}

		.center {
			display: block;
		}

		.type {
			background-color: rgba(0, 0, 0, 0.06);
			border-radius: 2px;
			padding: 3px 5px;
		}

		&:hover {
			margin-left: 1em; 
		}
	}
}

.folder-view {
	display: grid;
	flex-grow: 1;
	grid-column-gap: ($gutters / 2);
	grid-template-areas:
		'panels-header border content-header'
		'panels border content';
	grid-template-columns: 1fr auto 2fr;
	grid-template-rows: auto 1fr;
	height: 100%;
	max-width: 100%;
	overflow-y: hidden;
	padding: 0 ($gutters / 2);

	.panels {
		grid-area: panels;
		min-width: 0;
		overflow-y: scroll;
	}

	.border {
		background: linear-gradient(to top, #ebebeb, #f7f7f7);
		grid-area: border;
		width: 5px;
	}

	.content {
		grid-area: content;
		max-width: 100%;
		overflow-y: scroll;
	}

	.content-header {
		grid-area: content-header;
		margin: auto;
		width: 720px;

		&.list-view-header {
			margin: 0;
			margin-top: 1.7em;
			width: unset;
		}

		.header-icon {
			height: 28px;
			width: 32px;
		}
	}

	.description {
		font-size: 14px;
		line-height: 20px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		width: 100%;
	}
}
