.highlight-menu {
	align-items: center;
	background-color: $background-white;
	border: 1px solid #dfe3e9;
	border-radius: 4px;
	box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.22);
	display: none;
	justify-content: center;
	padding: 10px 12px;
	position: absolute;
	transition: none;
	user-select: none;
	visibility: hidden;
	z-index: 400;

	&.active {
		animation: pop-upwards 180ms forwards linear;
		display: inline-flex;
		transition: top 75ms ease-out, left 75ms ease-out;
		visibility: visible;
	}

	svg {
		cursor: pointer;
		margin: 0 4px;
		user-select: none;
	}

	.pointer-arrow {
		background: white;
		border-bottom: 1px solid #dfe3e9;
		border-right: 1px solid #dfe3e9;
		display: block;
		height: 10px;
		position: absolute;
		user-select: none;
		width: 10px;
	}
}

@keyframes pop-upwards {
	0% {
		opacity: 0;
		transform: matrix(0.97, 0, 0, 1, 0, 12);
	}

	20% {
		opacity: 0.7;
		transform: matrix(0.99, 0, 0, 1, 0, 2);
	}

	40% {
		opacity: 1;
		transform: matrix(1, 0, 0, 1, 0, -1);
	}

	70% {
		opacity: 1;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}

	100% {
		opacity: 1;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}
}

.note-input {
	height: 200px;
	user-select: none;
	width: 330px;

	.buttons {
		display: flex;
		flex-direction: row-reverse;
		margin-top: 20px;
		user-select: none;
	}

	button {
		border: none;
		color: $foreground-darkgray;
		cursor: pointer;

		&:last-child {
			margin-right: auto;
		}
	}

	p {
		margin: 0 0 8px;

		svg {
			cursor: default;
			margin-left: 0;
			margin-right: 10px;
			transform: translateY(2px);
		}
	}

	textarea {
		height: 100px;
		resize: none;
		user-select: none;
		width: 100%;
	}
}

.highlight-icon {
	left: 20px;
	position: absolute;
}

.panel {
	.notes-panel {
		flex-direction: column;
		padding: 0.82em 0;

		&:hover {
			margin-left: 1em;
		}

		.title {
			margin-bottom: 10px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			width: 95%;

			svg {
				margin-right: 10px;
				transform: translateY(2px);
			}
		}

		.numbers {
			align-items: center;
			display: flex;
			justify-content: space-between;
			padding: 0 1.8em;
			width: 100%;

			svg {
				margin-right: 3px;
			}

			span {
				align-items: center;
				display: inline-flex;
			}
		}
	}
}