.episode-header {
	display: flex;

	.left {
		cursor: pointer;
		margin-right: 20px;
		position: relative;
	}

	.og-image,
	.placeholder {
		background: $white-smoke;
		background-position: 50%;
		background-size: cover;
		border-radius: 8px;
		-webkit-box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.06), 0 2px 7px 0 rgba(0, 0, 0, 0.05);
		box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.06), 0 2px 7px 0 rgba(0, 0, 0, 0.05);
		height: 75px;
		object-fit: cover;
		width: 75px;
	}

	.play-icon {
		align-items: center;
		display: flex;
		height: 79px;
		justify-content: center;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;

		.icon-container {
			align-items: center;
			background-color: $background-black;
			border-radius: 10000px;
			display: flex;
			height: 1.6em;
			justify-content: center;
			width: 1.6em;
		}
	}

	&.list-view-header {
		margin: 0;
		width: unset;
	}
}
