.podcast-episode-list-view-popover {
	background-color: $background-white;
	border-radius: $border-radius;
	box-shadow: $box-shadow;

	.panel-element {
		cursor: pointer;

		label {
			color: $foreground-black;
			cursor: pointer;
			text-transform: none;
		}
	}
}

.podcasts-view {
	display: grid;
	flex-grow: 1;
	grid-column-gap: $gutters / 2;
	grid-template-areas:
		'panels-header border content-header'
		'panels border content';
	grid-template-columns: 1fr auto 2fr;
	grid-template-rows: auto 1fr;
	height: 100%;
	max-width: 100%;
	overflow-y: hidden;
	padding: 0 ($gutters / 2);

	.border {
		background: linear-gradient(to top, #ebebeb, #f7f7f7);
		grid-area: border;
		width: 5px;
	}

	.panels-header {
		grid-area: panels-header;
	}

	.panels {
		grid-area: panels;
		min-width: 0;
		overflow-y: scroll;
	}

	.content {
		grid-area: content;
		overflow-y: scroll;
	}

	.content-header {
		grid-area: content-header;
	}

	.featured-podcast {
		> * {
			margin-bottom: 2em;
		}

		label {
			color: $foreground-black;
		}
	}
}

.podcast-episode {
	cursor: pointer;
	position: relative;

	.left {
		position: relative;

		.play-icon,
		.pause-icon {
			align-items: center;
			display: flex;
			height: 100px;
			justify-content: center;
			left: 0;
			position: absolute;
			right: 0;
			top: 0;

			.icon-container {
				align-items: center;
				background-color: $background-black;
				border-radius: 10000px;
				display: flex;
				height: 3em;
				justify-content: center;
				width: 3em;
			}
		}

		.play-icon {
			display: none;
		}
	}

	&:hover {
		.left {
			.play-icon {
				display: flex;
			}
		}
	}
}
