.rss-view {
	display: grid;
	flex-grow: 1;
	grid-column-gap: ($gutters / 2);
	grid-template-areas:
		'panels-header border content-header'
		'panels border content';
	grid-template-columns: 1fr auto 2fr;
	grid-template-rows: auto 1fr;
	height: 100%;
	max-width: 100%;
	overflow-y: hidden;
	padding: 0 ($gutters / 2);

	.border {
		background: linear-gradient(to top, #ebebeb, #f7f7f7);
		grid-area: border;
		width: 5px;
	}

	.panels-header {
		grid-area: panels-header;
	}

	.panels {
		grid-area: panels;
		min-width: 0;
		overflow-y: scroll;
	}

	.content {
		grid-area: content;
		max-width: 100%;
		overflow-y: scroll;
	}

	.content-header {
		grid-area: content-header;
		margin: auto;
		width: 720px;

		&.list-view-header {
			margin: 0;
			width: unset;
		}
	}

	.none-selected {
		align-items: center;
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: center;
		max-height: 100vh;
	}

	.rss-article-content {
		-webkit-app-region: no-drag;
		margin: auto;
		max-width: 720px;
		padding-bottom: 100px;

		h1 {
			font-size: 30px;
		}

		p {
			font-size: 15px;
			font-weight: normal;
			line-height: 26px;
		}

		a {
			color: $foreground-green;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}

		img {
			max-width: 100%;
		}
	}

	.featured-rss {
		> * {
			margin-bottom: 2em;
		}

		label {
			color: $foreground-black;
		}
	}
}
